/* Navigation Bar Section  */
#navbar{
    position: relative;
    flex-direction: column;
    height: 90px;
}

#logo {
    margin: 0px 0px;
}

#logo img {
    height: 40px;
    margin: 4px 0px;
}

#navbar ul li {
    font-size: 0.9rem;
}

#navbar ul li a {
    padding: 1px 5px;
    margin: 0px 2px;
}

/* Home Section  */
#home{
    height: 180px;
    padding: 0px 2px;
}
#home::before{
    height: 42vh;
}

#home h1{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

#home p{
    font-size: 0.9rem;
}

/* Services Section  */
#services{
    flex-direction: column;

}

#services .box{
    margin: 10px 20px;
    border-radius: 30px;
    padding: 10px 10px;
}

#services .box img{
    height: 100px;
}

#services .box p{
    font-size: 0.8rem;
}


/* Clients Section  */
#client-section{
    height: 150px;
    flex-wrap: wrap;
}

.client-item {
    padding: 10px 10px;
}

#clients img{
    height: 60px;
    width: 60px;
    border-radius: 80px;
 }

/* Contact Section  */
#contact{
    height: 410px;
}

#contact-box form {
    width: 80%;
}

#contact-box label {
    font-size: 0.8rem;
}

#contact-box input,
#contact-box textarea {
    font-size: 0.7rem;
}

#contact-box input[type='submit'] {
    font-size: 0.9rem;
    width: 150px;
    margin: 5px auto;
}

/* Footer Section  */
footer {
    font-size: 0.8rem;
}

/* Utility Classes */
.h-primary{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.h-secondary{
    font-size: 1.1rem;
}

.btn{
    font-size: 0.9rem;
    margin: 10px 20px;
}
